body{
    background-color: #f3f3f3;
    background-image:url(../APicture/br1.jpg) ;
    background-size: 100% 100%;
}
.giuatrang{
    width: 80%;
    margin: 0 auto;
    padding: 4%;
   background-color: #1f852b;
}
.giuatrang>p{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
   padding-bottom: 30px;

}
input[type=text] {
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
    outline:none;
    transition: width 0.4s ease-in-out;
}
input[type=text]:hover{
    box-shadow: 0 0 5px rgb(60, 253, 1);
}
.b102{
    font-variant: small-caps; 
    background-color: #1f852b;
}
form input[type="text"]:focus{
  width:100%;
  
}
textarea{
    width: 100%;
}
textarea:hover{
    box-shadow: 0 0 7px rgb(60, 253, 1);
}
